# Node / Angular
/frontend/node_modules/
/frontend/dist/
/frontend/.angular/cache
/frontend/.vscode

# Java / Maven
/backend/target/
/backend/.mvn/
/backend/.idea/
/backend/.classpath
/backend/.project

# Global
*.log
.env
.DS_Store