# Logs & systèmes
.DS_Store
Thumbs.db

# Build Angular
frontend/dist/
frontend/.angular/

# Node
frontend/node_modules/

# Spring Boot
backend/Subscription-Manager/target/

# IDE & config perso
.vscode/
*.iml

# Environnements et secrets
.env
*.env
