<div class="bg-white rounded-lg shadow-sm w-72 p-4">
    <!-- Nom de l'abonnement et bouton d'édition -->
    <div class="flex justify-between items-center mb-2">
      <h3 class="font-semibold text-gray-900">{{ subscription.name }}</h3>
      <span class="px-2 py-1 text-xs rounded-full" 
            [ngClass]="{'bg-green-100 text-green-800': subscription.active, 'bg-red-100 text-red-800': !subscription.active}">
        {{ subscription.active ? 'Actif' : 'Inactif' }}
      </span>
    </div>
    
    <!-- Prix mensuel -->
    <div class="text-sm text-gray-600 mb-4">
       Mensuel: {{ getMonthlyPrice() | currency:'EUR':'symbol':'1.2-2' }}
      <span *ngIf="!isMonthlyPayment()" class="text-xs text-gray-400">
        ({{ formatOriginalPrice() }})
      </span>
    </div>

    <!-- Section détails (normalement cachée) -->
    <div *ngIf="showDetails" class="bg-gray-50 p-3 rounded-md mb-4 text-xs space-y-2 animate-fadeIn">
        <div class="flex justify-between">
          <span class="text-gray-500">Catégorie:</span>
          <span class="font-medium text-gray-700">{{ getCategoryName() }}</span>
        </div>
        <div class="flex justify-between">
          <span class="text-gray-500">Fréquence:</span>
          <span class="font-medium text-gray-700">{{ getFrequencyName() }}</span>
        </div>
        <div class="flex justify-between">
          <span class="text-gray-500">Date de début:</span>
          <span class="font-medium text-gray-700">{{ formatDate(subscription.startDate) }}</span>
        </div>
        <div *ngIf="subscription.nextPaymentDate" class="flex justify-between">
          <span class="text-gray-500">Date de fin:</span>
          <span class="font-medium text-gray-700">{{ formatDate(subscription.nextPaymentDate) }}</span>
        </div>
        <div *ngIf="subscription.description" class="pt-1">
          <span class="text-gray-500">Description:</span>
          <p class="mt-1 text-gray-700">{{ subscription.description }}</p>
        </div>
      </div>
    
    
    <!-- Boutons Detail et Delete -->
    <div class="flex gap-2">
        <button (click)="toggleDetails()" class="bg-gray-800 text-white text-xs px-4 py-1.5 rounded">
            {{ showDetails ? 'Cacher' : 'Détails' }} 
        </button>
        <button class="bg-gray-800 text-white text-xs px-4 py-1.5 rounded" (click)="onEditClick()">Editer</button>
        <button class="bg-gray-800 text-white text-xs px-4 py-1.5 rounded" (click)="onDeleteClick()">Supprimer</button>
    </div>
  </div>