<div class="bg-white rounded-lg shadow-sm w-72 p-4">
    <!-- Nom de l'abonnement et bouton d'édition -->
    <div class="flex justify-between items-center mb-2">
      <h3 class="font-semibold text-gray-900">{{ subscription.name }}</h3>
      <button class="bg-gray-800 text-white text-xs px-2 py-1 rounded text-center" (click)="onEditClick()">Edit</button>
    </div>
    
    <!-- Prix mensuel -->
    <div class="text-sm text-gray-600 mb-4">
      Mensuel: {{ subscription.price.toFixed(2) }}€
    </div>
    
    <!-- Boutons Detail et Delete -->
    <div class="flex gap-2">
      <button class="bg-gray-800 text-white text-xs px-4 py-1.5 rounded" (click)="onDetailClick()">Details</button>
      <button class="bg-gray-800 text-white text-xs px-4 py-1.5 rounded" (click)="onDeleteClick()">Delete</button>
    </div>
  </div>